<!DOCTYPE html data-bs-theme="dark">
<html lang="en">
<%- include("../partials/head", {title: title}) %>
<body>
    <%- include("../partials/tableTransformers", {transformers: transformers}) %>
</body>
</html>